doctype html

block path
	- path = '';

html(class="no-js", lang="fr", appcache=appcache)
	head
		meta(charset="utf-8")
		title=title
		//[if lt IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]
		meta(name="description", content="")
		//meta(name="viewport", content="user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1, width=device-width")
		meta(name="viewport", content="initial-scale=1")
		// Stylesheet
		link(rel="stylesheet", href=path+"stylesheets/uikit.aroseindigo.css")
		// Apple icons
		link(rel="apple-touch-icon",sizes="57x57", href=path+"img/favicons/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon",sizes="114x114", href=path+"img/favicons/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon",sizes="72x72", href=path+"img/favicons/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon",sizes="144x144", href=path+"img/favicons/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon",sizes="60x60", href=path+"img/favicons/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon",sizes="120x120", href=path+"img/favicons/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon",sizes="76x76", href=path+"img/favicons/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon",sizes="152x152", href=path+"img/favicons/apple-touch-icon-152x152.png")
		// Favicons
		link(rel="icon",type="image/png",sizes="16x16", href=path+"img/favicons/favicon-16x16.png")
		link(rel="icon",type="image/png",sizes="32x32", href=path+"img/favicons/favicon-32x32.png")
		link(rel="icon",type="image/png",sizes="96x96", href=path+"img/favicons/favicon-96x96.png")
		link(rel="icon",type="image/png",sizes="160x160", href=path+"img/favicons/favicon-160x160.png")

		meta(property="og:site_name", content="Roseindigo | Vêtements d'occasion pour bébés et enfants")
		meta(property="og:title", content="$title de la page")
		meta(property="og:url", content="$url de la page")
		meta(property="og:description", content="$balise meta description")

		// inject:js
		// endinject
		
		block head


	body

		block content

	// inject:js	
	// endinject
		